dl {
    margin:0;
}
.friend-list {
    border:1px solid #000000
}
.friend-group dt{
    padding:10px;
    background-color:rgb(64,158,255);
    font-weight: bold;
}
.friend-group dd{
    padding: 10px;
    display: none;
}
.friend-group.expanded dd{
    display: block;
}