<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="com.pbatis.dao.IUserDao">
    <select id="findAll" resultType="com.pbatis.pojo.User">
        select * from tb_user
    </select>

    <select id="findById" resultType="com.pbatis.pojo.User" parameterType="com.pbatis.pojo.User">
        select * from tb_user where id = #{id} and username=#{username}
    </select>

    <insert id="save" parameterType="com.pbatis.pojo.User">
        insert into tb_user(id,username,password,birthday,version,is_delete)
        values(null,#{username},#{password},#{birthday},#{version},#{is_delete})
    </insert>

    <update id="update" parameterType="com.pbatis.pojo.User">
        update tb_user set username=#{username} where id=#{id}
    </update>

    <delete id="delete" parameterType="com.pbatis.pojo.User">
        delete from tb_user where id=#{id}
    </delete>
</mapper>