<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
">
    <!--  1.配置连接Rabbit工厂   -->
    <rabbit:connection-factory id="connectionFactory" host="172.16.150.130" port="5672" username="prim"
                               password="123456" virtual-host="/edu" publisher-confirms="true"/>
    <!--  2. 配置队列  -->
        <rabbit:queue name="test_spring_queue_ttl_3"/>
<!--    <rabbit:queue name="test_spring_queue_ttl" auto-declare="true">-->
<!--        <rabbit:queue-arguments>-->
<!--            <entry key="x-message-ttl" value-type="long" value="5000"/>-->
<!--        </rabbit:queue-arguments>-->
<!--    </rabbit:queue>-->
    <!--  3. 配置RabbitAdmin：主要用于在Java代码中对队列的管理，用来创建、绑定、删除队列与交换机，发送消息等操作  -->
    <rabbit:admin connection-factory="connectionFactory"/>
    <!--  4. 配置交换机/路由 topic类型 -->
    <rabbit:topic-exchange name="spring_topic_exchange">
        <!-- 绑定队列 -->
        <rabbit:bindings>
            <!-- pattern通配符 -->
            <rabbit:binding pattern="msg.#" queue="test_spring_queue_ttl_3"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>
    <!-- 5. 配置json转换的工具:将消息转换成json的工具 -->
    <bean id="jsonMessageConverter" class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter"/>
    <!-- 6. 配置RabbitMQ模板 -->
    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory" exchange="spring_topic_exchange"
                     message-converter="jsonMessageConverter"
                     confirm-callback="messageConfirm"/>
    <!-- 7. 确认机制处理类 -->
    <bean id="messageConfirm" class="confirm.MessageConfirm"/>
</beans>