/*初始化样式*/
body {
    font-size: 14px;
    color: #333;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", "SimSun", "Arial", "Helvetica Neue", "Helvetica", serif;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #00b38a;
}

/*公共样式*/

/*设置版心*/
.inner-c {
    width: 1200px;
    margin: 0 auto;
}