/*header 区域样式*/

.header {
    height: 40px;
    width: 100%;
    background-color: #32373e;
    line-height: 40px;
}

.header-c {
    height: 40px;
}

/* header left style*/
.header-c .header-left {
    float: left;
}

/*logo 部分*/
.header-c .header-left .logo {
    /*改变元素加载模式*/
    float: left;
    /*盒模型属性*/
    width: 43px;
    height: 31px;
    padding-top: 9px;
    margin-right: 34px;
}

.header-c .header-left .logo a {
    display: block;
    width: 43px;
    height: 21px;
    background: url("../images/logo.png") no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

/*全国站部分*/
.header-c .header-left .city {
    float: left;
    width: 111px;
    margin-right: 33px;
    cursor: pointer;
}

.header-c .header-left .city:hover i {
    color: #fff;
}

.header-c .header-left .city span {
    color: #0dca9f;
    margin-right: 12px;
}

.header-c .header-left .city i {
    font-size: 12px;
    color: #afb5c0;
}

/*导航部分*/
.header-c .header-left .nav {
    float: left;
}

.header-c .header-left .nav li {
    float: left;
}

.header-c .header-left .nav li a {
    display: block;
    padding: 0 21px;
    color: #afb5c0;
    position: relative;
}

.header-c .header-left .nav li a:hover {
    color: #fff;
}

.header-c .header-left .nav li.current a {
    color: #fff;
    background-color: #24282e;
}

.header-c .header-left .nav li a .tips {
    display: block;
    width: 29px;
    line-height: 18px;
    height: 18px;
    background: #ff7452;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 9px;
    padding-bottom: 2px;
    position: absolute;
    right: -2px;
    top: 3px;
}

/* header right style*/
.header-c .header-right {
    float: right;
}

.header-c .header-right a {
    float: left;
    color: #afb5c0;
}

.header-c .header-right a:hover {
    color: #fff;
}

.header-c .header-right .upload {
    margin-right: 23px;

}

.header-c .header-right .position {
    margin-right: 66px;
}

.header-c .header-right span {
    float: left;
    padding: 0 8px;
    color: #5e5a50;
}

.header-c .header-right .register {
    margin-right: 52px;
}

.header-c .header-right .app {
    position: relative;
    margin-right: 20px;
    color: #00c295;
}

.header-c .header-right .app:hover {
    color: #81deaf;
}

.header-c .header-right .login {
    position: relative;
}

.header-c .header-right .login i {
    position: absolute;
    width: 18px;
    height: 18px;
    background: url(../images/sprite_01.png) no-repeat -76px -136px;
    top: 11px;
    left: -26px;
}

.header-c .header-right .login:hover i {
    background-position:  -76px -174px ;
}

.header-c .header-right .app i {
    position: absolute;
    width: 12px;
    height: 18px;
    background: url(../images/sprite_01.png) no-repeat -64px -212px;
    top: 11px;
    left: -20px;
}

.header-c .header-right .app:hover i {
    background-position:  -96px -212px ;
}
