section,ul,li,img,div{
    margin:0;
    padding:0;
}
body{
    background-color: #f5f5f5;
}
ul,li{
    list-style:none;
}
.box{
    width:1200px;
    margin-top: 20px;
}
.top-nav{
    width:100%;
    height:100px;
    line-height: 100%;
}
.log-in{
    overflow: hidden;
    width:200px;
    height:100px;
    line-height: 100px;
    text-align: center;
    margin-right:150px;
}
.margin-top-fix{
    marign-top:50px;
}
.log-in>li{
    float: right;
    cursor: pointer;
    margin-left:50px;
}

.banner{
    width:100%;
    height:300px;
    vertical-align: middle;
}

.banner-img{
    margin:0;
    border: none;
    vertical-align: middle;
    width:100%;
    height: 100%;
}

.img-content{
    width:100%;
    float: left;
    margin-top:70px;
}

.img-content>ul{
    width:1280px;
}
.img-content>ul>li{
    float: left;
    margin:0 62px 60px 0;
    height: 538px;
    width:358px;
    background: #F8F8FF;
    box-shadow:0 0 5px #CCC;
    -moz-box-shadow:0 0 5px #CCC;
    -webkit-box-shadow:0 0 5px #CCC;
}

.img-content>ul>li .info{
    padding: 35px;
}

.img-content>ul>li img{
    width:100%;
}

.img-content>ul>li .info h3{
    color:#FF0000;
    font-size:23px;
}

.img-content>ul>li .info p{
    line-height:23px;
    margin-top:25px;
}

.img-content>ul>li .info p{
    line-height:25px;
    margin-top:25px;
}

.img-content>ul>li .info p{
    line-height:25px;
    margin-top:25px;
}

.img-content>ul>li .btn, .img-content>ul>li .price{
    margin-top:20px;
}

.img-content>ul>li .price {
    color: #F61815;
    font-size: 20px;
    font-weight: 400;
    font-family: Verdana;
    line-height: 33px;
    float: left;
}

.img-content>ul>li .btn {
    float: right;
}

.img-content>ul>li .btn a{
    width:60px; height:33px; line-height:33px;
    color:#FFF;
    text-align: center;
    display:block;
    float:left;
    border-radius:5px;
    border:1px solid #F61815;
}

.img-content>ul>li .btn a.edit, .img-content>ul>li .btn a.cart{
    background: #F61815;
}

.img-content>ul>li .btn a.cart img{
    width: 21px;
    margin: 7px 0;
}

.img-content>ul>li .btn a.del{
    margin-left:20px;
    color: #F61815;
}

.page-nav{
    width:100%;
    height:60px;
    line-height: 60px;
    text-align: center;
    overflow:hidden;
}
.page-nav>ul{
    overflow: hidden;
    margin: 0 30%;
    width:80%;
}
.page-nav>ul>li{
    float: left;
    margin-right:20px;
    
}

.page-nav>ul>li a{
    color:#333;
}

.first-page{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: #c5c5c5;
    padding: 3px 9px;
}
.header .profile_item{
	width:60px;
	height:60px;
	border-radius:100%;
}


