<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
      http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 导入dao配置 -->
    <import resource="classpath:spring/spring-dao.xml"/>

    <!--1.服务提供方在Zookeeper中的别名-->
    <dubbo:application name="edu-server"/>
    <!--    2. 注册中心的地址-->
    <dubbo:registry address="zookeeper://172.16.150.130:2181"/>
    <!--    3. 扫描类：将什么包下的类作为服务提供类 将服务类注册到注册中心-->
    <dubbo:annotation package="com.sfl.service.impl"/>
    <!--    4. 让监控 去注册中心自动找服务-->
    <dubbo:monitor protocol="registry"/>
    <!--    5. 设置服务调用超时时间 默认1s-->
    <dubbo:provider timeout="60000"/>

    <!-- redis相关配置 -->
    <!-- spring连接Redis的工具类 -->
    <bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <!-- 连接工厂 -->
        <property name="connectionFactory" ref="connectionFactory">

        </property>
    </bean>

    <!-- connectionFactory 提供主机ip和port -->
    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="172.16.150.131"/>
        <property name="port" value="6379"/>
    </bean>

</beans>