<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
      http://code.alibabatech.com/schema/dubbo/dubbo.xsd
">
    <!-- 导入dao的配置文件 整合 -->
    <import resource="classpath:spring/spring-dao.xml"/>
    <!--1.服务提供方在Zookeeper中的别名-->
    <dubbo:application name="dubbo-case-server"/>
    <!--    2. 注册中心的地址-->
    <dubbo:registry address="zookeeper://172.16.150.130:2181"/>
    <!--    3. 扫描类：将什么包下的类作为服务提供类-->
    <dubbo:annotation package="com.sufulu.service.impl"/>
    <!--    4. 让监控 去注册中心自动找服务-->
    <dubbo:monitor protocol="registry"/>

    <!-- 设置超时时间 -->
    <dubbo:provider timeout="60000"/>

</beans>