<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 开启 AspectJ的注解开发 自动代理-->
    <aop:aspectj-autoproxy/>

    <!-- 配置bean 也可以用Spring ioc的注解方式去实现  -->
    <bean id="productDao" class="com.prim.aspectj.ProductDao"/>

    <!-- -->
    <bean class="com.prim.aspectj.MyAspectAnno"/>
</beans>