<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- XML配置方式完成AOP开发 -->

    <bean id="customerDao" class="com.prim.aspectj.xml.CustomerDaoImpl"/>

    <!-- 配置切面类 -->
    <bean id="myAspectXml" class="com.prim.aspectj.xml.MyAspectXml"/>

    <!-- aop 的配置 -->
    <aop:config>
        <!-- 配置切入点 -->
        <aop:pointcut expression="execution(* com.prim.aspectj.xml.CustomerDao.save(..))" id="pointcut1"/>
        <aop:pointcut expression="execution(* com.prim.aspectj.xml.CustomerDao.update(..))" id="pointcut2"/>
        <aop:pointcut expression="execution(* com.prim.aspectj.xml.CustomerDao.delete(..))" id="pointcut3"/>
        <aop:pointcut expression="execution(* com.prim.aspectj.xml.CustomerDao.findOne(..))" id="pointcut4"/>
        <aop:pointcut expression="execution(* com.prim.aspectj.xml.CustomerDao.findAll(..))" id="pointcut5"/>
        <!-- 告知哪个类是切面 配置切面类 -->
        <aop:aspect ref="myAspectXml">
            <!-- 配置切入点的通知 -->
            <!-- 前置通知 method 设置切入类的方法  前置通知应用到的切入点 pointcut-ref -->
            <aop:before method="before" pointcut-ref="pointcut1"/>
            <aop:after-returning method="afterReturning" pointcut-ref="pointcut2" returning="result"/>
            <aop:around method="around" pointcut-ref="pointcut3"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="pointcut4" throwing="e"/>
            <aop:after method="after" pointcut-ref="pointcut5"/>

            <aop:after-throwing method="afterThrowing" pointcut-ref="pointcut3" throwing="e"/>
            <!-- 前置通知添加其他的切入点 -->
            <aop:before method="before" pointcut-ref="pointcut2"/>
        </aop:aspect>
    </aop:config>
</beans>