<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prim.mapper.UserMapper">

    <select id="findAll" resultType="com.prim.pojo.User">
        select *
        from user;
    </select>
</mapper>