<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置目标类 -->
    <bean id="studentDao" class="com.prim.spring.aop.StudentDaoImpl"/>

    <!-- 配置增强类 -->
    <!-- 前置增强 -->
    <bean id="beforeAdvice" class="com.prim.spring.aop.MyBeforeAdvice"/>

    <!-- Spring AOP 产生代理对象
        ProxyFactoryBean 可配置属性
     -->
    <bean id="studentDaoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!-- 配置目标类 -->
        <property name="target" ref="studentDao"/>
        <!-- 配置目标类的接口类 -->
        <property name="proxyInterfaces" value="com.prim.spring.aop.StudentDao"/>
        <!-- 采用拦截的增强类bean -->
        <property name="interceptorNames" value="beforeAdvice"/>
        <!-- 强制使用CGlib的方式 -->
        <property name="optimize" value="true"/>
    </bean>
</beans>