<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 配置目标类 -->
    <bean id="customerDao" class="com.prim.pointcut.autoproxy.CustomerDao"/>
    <bean id="productDao" class="com.prim.pointcut.autoproxy.ProductDao"/>
    <bean id="studentDao" class="com.prim.pointcut.autoproxy.StudentDaoImpl"/>

    <!-- 配置通知 增强类的方式 -->
    <bean id="beforeAdvice" class="com.prim.pointcut.autoproxy.MyBeforeAdvice"/>
    <bean id="aroundAdvice" class="com.prim.pointcut.autoproxy.MyAroundAdvice"/>

    <!-- 配置一个切点切面 -->
    <bean id="myAutoAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="pattern" value="com\.prim\.pointcut\.autoproxy\.CustomerDao\.save"/>
        <!-- 配置通知方式 -->
        <property name="advice" ref="aroundAdvice"/>
    </bean>

    <!-- 基于切面信息产生代理 根据切面信息 自动产生代理 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"></bean>
</beans>