<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linksu.videofeed">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".demo.VideoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".demo.activity.PrimActivity"></activity>
        <activity
            android:name=".demo.activity.VideoActivity"
            android:configChanges="orientation|screenSize|layoutDirection|keyboardHidden" />
        <activity
            android:name=".demo.activity.MainActivity"
            android:configChanges="orientation|screenSize|layoutDirection|keyboardHidden"
            android:label="@string/title_activity_list_video"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.activity.VideoDetailActivity"
            android:configChanges="orientation|screenSize|layoutDirection|keyboardHidden" />
        <activity android:name=".demo.activity.MainActivity2"></activity>
    </application>

</manifest>