<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- IOC bean组件注解扫描 -->
<!--    <context:component-scan base-package="com.prim"/>-->

    <!-- jdbc.properties文件 -->
<!--    <context:property-placeholder location="classpath:jdbc.properties"/>-->

<!--    &lt;!&ndash; DataSource数据源配置 &ndash;&gt;-->
<!--    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">-->
<!--        <property name="driverClassName" value="${jdbc.driverClassName}"/>-->
<!--        <property name="url" value="${jdbc.url}"/>-->
<!--        <property name="username" value="${jdbc.username}"/>-->
<!--        <property name="password" value="${jdbc.password}"/>-->
<!--    </bean>-->

<!--    &lt;!&ndash; jdbcTemplate创建对象配置 &ndash;&gt;-->
<!--    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">-->
<!--        <constructor-arg name="dataSource" ref="dataSource"/>-->
<!--    </bean>-->

<!--    &lt;!&ndash; 事务管理器对象 事务管理器 必须存在的&ndash;&gt;-->
<!--    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
<!--        <property ref="dataSource" name="dataSource"/>-->
<!--    </bean>-->

    <!-- 开启事务注解扫描 -->
<!--    <tx:annotation-driven/>-->
<!--    &lt;!&ndash; 通知增强  &ndash;&gt;-->
<!--    <tx:advice id="txAdvice" transaction-manager="transactionManager">-->
<!--        &lt;!&ndash; 定义事务的一些属性 &ndash;&gt;-->
<!--        <tx:attributes>-->
<!--            &lt;!&ndash; name="*" 切点方法名称 当前的任意名称的方法都走默认配置-->
<!--                isolation：事务隔离级别 REPEATABLE_READ - mysql的默认隔离级别-->
<!--                propagation：事务传播行为 REQUIRED-->
<!--                read-only：是否只读-->
<!--                timeout：超时时间 -1表示没有超时时间-->
<!--             &ndash;&gt;-->
<!--            <tx:method name="transfer" isolation="REPEATABLE_READ" propagation="REQUIRED" read-only="false"-->
<!--                       timeout="-1"/>-->
<!--            <tx:method name="save*" propagation="REQUIRED"/>-->
<!--            <tx:method name="delete*" propagation="REQUIRED"/>-->
<!--            <tx:method name="update*" propagation="REQUIRED"/>-->
<!--            <tx:method name="find*" read-only="true"/>-->
<!--            <tx:method name="*"/>-->
<!--        </tx:attributes>-->
<!--    </tx:advice>-->

<!--    -->

<!--    &lt;!&ndash; aop配置 &ndash;&gt;-->
<!--    <aop:config>-->

<!--        &lt;!&ndash; 抽取切点表达式 &ndash;&gt;-->
<!--        <aop:pointcut id="txPointcut" expression="execution(* com.prim.service.impl.AccountServiceImpl.*(..))"/>-->

<!--        &lt;!&ndash; 事务的配置需要使用advisor 定义切面：通知+切点  &ndash;&gt;-->
<!--        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>-->
<!--    </aop:config>-->


</beans>