<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.dao.PromotionSpaceMapper">
    <insert id="savePromotionSpace" parameterType="PromotionSpace">
        insert into promotion_space
        values (null, #{name}, #{spaceKey}, #{createTime}, #{updateTime}, #{isDel})
    </insert>
    <update id="updatePromotionSpace" parameterType="PromotionSpace">
        update promotion_space
        set name=#{name},
            updateTime=#{updateTime}
        where id = #{id}
    </update>
    <select id="findAllPromotionSpace" resultType="PromotionSpace">
        select *
        from promotion_space
    </select>
    <select id="findPromotionSpaceById" resultType="com.edu.pojo.PromotionSpace" parameterType="int">
        select id, name
        from promotion_space
        where id = #{id}
    </select>
</mapper>