<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prim.goods.mapper.GoodsMapper">


    <select id="findByOrderId" resultType="com.prim.common.pojo.Goods">
        select *
        from goods
        where id in (select product_id from order_item where order_id = #{orderId})
    </select>
</mapper>