<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>request-struc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 定义全局的参数 ServletContext context.getInitParamer('name') 获取-->
  <context-param>
   		<param-name>name</param-name>
   		<param-value>JkePrim</param-value>
  </context-param>
  
  <!-- 指定错误页面 -->
  <error-page>
     <error-code>404</error-code>
     <location>/error/404.html</location>
  </error-page>
  <error-page>
     <error-code>500</error-code>
     
     <location>/error/500.jsp</location>
  </error-page>
</web-app>