<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 开启驼峰命名 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 开启后台日志输出 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!-- pojo类别名 -->
    <typeAliases>
        <package name="com.sfl.pojo"/>
    </typeAliases>
    <!-- mybatis插件配置 -->
    <!--    <plugins>-->
    <!--        <plugin interceptor="com.github.pagehelper.PageHelper">-->
    <!--            &lt;!&ndash; 指定方言 &ndash;&gt;-->
    <!--            <property name="dialect" value="mysql"/>-->
    <!--        </plugin>-->
    <!--    </plugins>-->
</configuration>